body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  width: 350px;
  margin: 60px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

input, button, select {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
}

button {
  background: black;
  color: white;
  cursor: pointer;
  border: none;
  margin-top: 12px;
}

nav {
  background: black;
  color: white;
  padding: 12px;
}

nav a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}
